* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
    background-size: cover;
    width: 100%;
    height: auto;
}

.logo-div {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.logo-div .logo-img {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.title-div {
    position: absolute;
    top: 20%;
    left: 50%;
    color: #FF9914;
    font-weight: bold;
    font-size: 28px;
    transform: translate(-50%, -50%);
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.form-div {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #ffffff;
    ;
}

.form-div .Name-input {
    width: 100%;
    padding: 15px 20px;
    font-weight: medium;
    border: 2px solid gray;
    border-radius: 20px
}

.form-div .Email-input {
    width: 100%;
    margin-top: 5%;
    padding: 15px 20px;
    font-weight: medium;
    border: 2px solid gray;
    border-radius: 20px
}

.form-div .Company-input {
    width: 100%;
    margin-top: 5%;
    padding: 15px 20px;
    font-weight: medium;
    border: 2px solid gray;
    border-radius: 20px
}

.form-div .Message-input {
    width: 100%;
    margin-top: 5%;
    padding: 15px 20px;
    font-weight: medium;
    border: 2px solid gray;
    border-radius: 20px
}

.form-div .submit-btn {
    width: 20%;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #FF9914;
    color: white;
    text-align: center;
    margin-left: 40%;
    margin-top: 5%;
    cursor: pointer;
}

.navbar {
    overflow: hidden;
    background-color: #FF9914;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar span {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar .lang {
    float: left;
    display: block;
    background-color: #FF9914;
    color: #fff;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 17px;
    border: none;
}

.navbar a {
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    border-bottom: 7px solid white;
}

.navbar a.active {
    border-bottom: 7px solid white;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

media screen and (max-width: 600px) {
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}